.cart{
    height: 250px;
    width: 350px;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(72, 24, 161);
    color: white;
}
.selectedEmploye{
    overflow-y: auto;
}